
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">ARABAMİSTANBUL OTOMASYON</h2>
<br />
<div class="container">

    <div class="col-12">
        <a href="/Servis/ServisKayit/" class="btn btn-block bg-gradient-primary btn-lg" style=" height:70px; width:100%; font-size:1.700em; ">Yeni Servis Girişi</a>
    </div>
    <br />
    <div class="col-12">
        <a href="/Arac/Ekle/"  class="btn btn-block bg-gradient-secondary btn-lg" style=" height:70px; width:100%; font-size:1.700em;">Yeni Araç Ekle</a>
    </div>
    <br />
    <div class="col-12">
        <a href="/Urunler/Index2/" class="btn btn-block bg-gradient-success btn-lg" style=" height:70px; width:100%; font-size:1.700em;">Ürünler Listesi</a>
    </div>
    <br />
    <div class="col-12">
        <a href="/Tamiratlar/Index/" class="btn btn-block bg-gradient-info btn-lg" style=" height:70px; width:100%; font-size:1.700em;">Tamiratlar</a>
    </div>

</div>

