@using MVC_StokTakip.Models.Entity
@model List<MVC_StokTakip.Models.Entity.Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Kategoriler Ana Sayfası</h2>         
        </div>
        <div class="col-md-2">
            <a href=" /Kategoriler/Ekle/" class="btn btn-success" style="margin-top:10px">Kategori Ekle</a>
        </div>
    </div>
</div>
<br />
<br />
<div style="margin-top:10px" class="container">
    <table class="table table-responsive-sm" id="tbl1">
        <thead style="background-color:aliceblue">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Kategori
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    Sayfa Numarası
                </th>
                <th>
                    Güncelle
                </th>

                <th>Ürünler</th>
            </tr>


        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.ID
                    </th>
                    <td>
                        @item.Kategori
                    </td>
                    <td>
                        @item.Aciklama
                    </td>
                    <td>
                        @item.SayfaNo
                    </td>
                    <td>
                        <a href="/Kategoriler/GuncelleBilgiGetir/@item.ID" class="btn btn-warning">Güncelle</a>
                    </td>

                    <td>
                        <a href="/Kategoriler/Urunler/@item.ID" class="btn btn-info">Ürünler</a>
                    </td>
                </tr>
            }
        </tbody>


    </table>

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/GenelScript/jquery-code-scanner.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({
        language: {
            "search": "Kategori Ara :",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "infoEmpty": "Gösteriliyor 0 to 0 of 0 Girdilerden",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "lengthMenu": "Kaçarlı Gösterilsin _MENU_ ",
            "zeroRecords": "Hiçbir Kayıt Bulunamadı.",
            "paginate": {
                "first": "İlk Sayfa",
                "last": "Son Sayfa",
                "next": "İleri",
                "previous": "Geri"
            }
        },


    });
</script>
